/*
https://docs.obsidian.md/Reference/CSS+variables/CSS+variables
*/

.theme-light {
	--vruyr-highlight-background-color: hsla(var(--color-accent-hsl), 0.05);
	--vruyr-highlight-border-color:     hsla(var(--color-accent-hsl), 0.15);
}

.theme-dark {
	--vruyr-highlight-background-color: hsla(var(--color-accent-hsl), 0.07);
	--vruyr-highlight-border-color:     hsla(var(--color-accent-hsl), 0.21);
}

:has(>.dataview.inline-field>[data-dv-norm-key="select"])
{
	background-color: var(--vruyr-highlight-background-color);
	border: var(--vruyr-highlight-border-color) 1px solid;
	border-radius: 0.3em;
}
