body:not(.\9) {
	--tab-max-width: 8.5in;
	--tab-width: var(--tab-max-width);
}

/* This is only for Live Preview.
 * In reading mode <li> elemets are renders and markers are properly aligned.
 */
.cm-s-obsidian span.cm-formatting-list-ol {
	min-width: 2.5em;
	text-align: right;
	display: inline-block;
}
