# git config filter.novelwordcount.clean 'jq --tab --sort-keys '\''delpaths([["cachedCounts"]])'\'
# git config filter.novelwordcount.smudge cat
plugins/novel-word-count/data.json filter=novelwordcount
